h1{
    font-size: 45px;
    font-family: sans-serif;
}

/* #nav_item{
    
} */

#Author-Caption{
    line-height: 1;
}

h3{
    font-size: 27px;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
    line-height: 1.5;
}

ol{
    list-style: none;
}


footer p{
    font-size: 13px;
    font-family: sans-serif;
    line-height: 1;
}

#like-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
